h1 {
	border-radius: 
25px;
	background-color:
green;
}


input [type text] {
	width: 130px;
	-webkit-transition:
width 0.4s ease-in-out;
	transition: width
0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
input [type-text]: focus
{
	width: 100%;
}

h1 {
	font-family: "AR ESSENCE"
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	li {
		display: inline;
	}
	
ul {
	position: fixed;
	top: 0;
	width: 100%;
}

body {
	  background-color: lightgreen;
}

.active	{
	background-color:
#4CAF50;
	color: white;
}

p.solid {
	


.dropdown	{
	position: relative;
	display: inline-
block;
}

.dropdown-content	{
	display: none;
	position: absolute;
	background-color:
#f9f9f9;
	min-width:	160px;
	box-shadow: 0px	8px
16px	0px
rgba (0,0,0,0.2)
	padding:	12px	16px;
	z-index:	1;
}

.dropdown:hover
.dropdown-content	{
	display: block;
}

</style>

<div class="w3-sidebar w3-bar-block" style="width:25%"> 
... page content ...
</div>


	